
.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: #dc3545;
  margin-left: 10px;
  margin-top: 10px
}

.jumbotron {
  font-family: Shrikhand, cursive;
  color: white;
  background-color: #1da1f2;
}
#topicChoice{
  margin-left: 10px;
}
input,
textarea {
  margin: 10px;
}



p {
  margin: 0;
  font-size: 16px;
}
