/* Looks AWFUL in small sizing */
/* @font-face {
  font-family: 'machaCow';
  src: url('../machaCow.ttf');
}

.themefont {
  font-family: 'machaCow';
} */

#myVideo {
  position: fixed;
  top: 36px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  object-fit: cover;
  z-index: -1;
}

.dropdown-menu {
  width: 300px;
}

.footer-link {
  text-decoration: underline;
  color: white;
}

@media (max-width: 767.98px) {
  .display-3 {
    font-size: 3rem;
  }

  #smScreenBg {
    position: fixed;
    top: 36px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.35;
    object-fit: cover;
    z-index: -1;
  }
}